<div id="lonedev-pnb-root" class="lonedev-pnb--container" data-template="{{ template }}" data-blog-id="{{ blog.id }}" data-article-id="{{ article.id }}" data-product-id="{{ product.id }}" data-lang="{{ request.locale.iso_code }}"></div>
